{
 ;; Configuration and API authentication information
 :discord/config                {:filename "data/settings/settings.json"}
 :discord/auth                  {:config #ig/ref :discord/config}

 ;; Information that is related to controling the Discord Gateway connection
 :discord/gateway-metadata      {}

 :discord/message-handler-fn    {:config #ig/ref :discord/config
                                 :metadata #ig/ref :discord/gateway-metadata}
 :discord/websocket             {:auth #ig/ref :discord/auth
                                 :message-handler-fn #ig/ref :discord/message-handler-fn}
 :discord/gateway-connection    {:auth #ig/ref :discord/auth
                                 :metadata #ig/ref :discord/gateway-metadata
                                 :websocket #ig/ref :discord/websocket}
 ;:discord/text-client         {:gateway-connection #ig/ref :discord/gateway-connection}
 ;:discord/bot                 {:text-client #ig/ref :discord/text-client
                               ;:auth #ig/ref :discord/auth
                               ;:config :discord/config}
 }
