{
 ;; Configuration and API authentication information
 :discord/config                {}
 :discord/auth                  {:config #ig/ref :discord/config}
 :discord/gateway-metadata      {:config #ig/ref :discord/config}

 :discord/message-handler-fn    {:auth #ig/ref :discord/auth
                                 :config #ig/ref :discord/config
                                 :metadata #ig/ref :discord/gateway-metadata}
 :discord/websocket             {:auth #ig/ref :discord/auth
                                 :message-handler-fn #ig/ref :discord/message-handler-fn}
 :discord/gateway-connection    {:auth #ig/ref :discord/auth
                                 :metadata #ig/ref :discord/gateway-metadata
                                 :websocket #ig/ref :discord/websocket
                                 :config #ig/ref :discord/config}
 :discord/bot                   {:config #ig/ref :discord/config
                                 :gateway #ig/ref :discord/gateway-connection}}
